<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>مترجم وان - {{page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/auth.min.css" />
    {% endblock %}
    {% block stylebelow %}{% endblock %}
</head>

<body>

    {% block content %}{% endblock %}
    {% block scriptabove %}{% endblock %}
    <script src="/public/js/functions.js"></script>
    {% block scriptbelow %}{% endblock %}
</body>

</html>