{% extends 'layout/professor.twig' %}
{% block style_below %}
    <link rel="stylesheet" href="/public/css/alertify.rtl.min.css">
    <style>
        .question-card{
            box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 2px 1px rgba(0,0,0,0.22);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
        #questions-wrap{
            position: relative;
        }
        #questions-wrap.compact{
            height: 350px;
        }
        .center{
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%,-50%);
        }
        .is-full{
            height: 550px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body"  style="min-height: 550px;padding: 2rem">
            {% if is_full %}
                <div class="is-full">
                    <h4>سوالات این آزمون قبلا اضافه شده است</h4>
                    <button class="btn btn-primary" onclick="window.location.href=window.location.origin+'/professor'">بازگشت به صفحه اصلی</button>
                </div>
            {% else %}
                <h3 class="text-center mt-4 mb-5" id="page-title">اضافه کردن سوالات برای آزمون ({{ exam_info.name }})</h3>
                <div class="row" id="questions-wrap">
                    {% for i in range(1,exam_info.question_count) %}
                        <form class="new-question col-4" action="/professor/new-exam/question/save" method="post">
                            <input type="hidden" name="exam_id" value="{{ exam_info.id }}">

                            <h4 class="text-center">سوال شماره {{ i }}</h4>
                            <div class="form-group">
                                <label >عنوان سوال</label>
                                <textarea class="form-control" type="text" name="title" ></textarea>
                            </div>
                            <div class="form-group">
                                <label >گزینه اول</label>
                                <input class="form-control" type="text" name="option1" >
                            </div>
                            <div class="form-group">
                                <label >گزینه دوم</label>
                                <input class="form-control" type="text" name="option2" >
                            </div>
                            <div class="form-group">
                                <label >گزینه سوم</label>
                                <input class="form-control" type="text" name="option3" >
                            </div>
                            <div class="form-group">
                                <label >گزینه چهارم</label>
                                <input class="form-control" type="text" name="option4" >
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <label >پاسخ درست</label>
                                    <select class="form-control" name="answer" >
                                        <option value="1">
                                            گزینه اول
                                        </option>
                                        <option value="2">
                                            گزینه دوم
                                        </option>
                                        <option value="3">
                                            گزینه سوم
                                        </option>
                                        <option value="4">
                                            گزینه سوم
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="examMark">نمره سوال</label>
                                    <input class="form-control" type="text" name="mark" id="examMark">
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <input type="submit" class="btn btn-success" value="اضافه کردن">
                                {#<button type="button" id="addQuestionAndNew"  class="btn btn-success">اضافه کردن و جدید</button>#}
                            </div>
                        </form>
                    {% endfor %}
                </div>
                <h4 class="text-center mt-4 mb-4 d-none" id="addedQuestionsTitle">سوالات اضافه شده</h4>
                <div id="addedQuestions" class="row"></div>
            {% endif %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="questionInfoModal" tabindex="-1" role="dialog" aria-labelledby="questionInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="questionInfoModalLabel">اطلاعات آزمون</h5>
                    {# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> #}
                </div>
                <div class="modal-body" id="questionInfo" style="padding:2rem"></div>
                <div class="modal-footer justify-content-start">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_below %}
    <script src="/public/js/sweetalert2@8.js"></script>
    <script src="/public/js/alertify.min.js"></script>
    <script src="/public/js/exam-questions.js"></script>
{% endblock %}