<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/professor">
            <i class="nav-icon icon-speedometer"></i>
            داشبورد
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/professor/study-fields">
            <i class="nav-icon icon-layers"></i>
            گروه های آزمون
        </a>
    </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-question"></i>
                   آزمون ها</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="/professor/exams">
                        لیست آزمون ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/professor/exam/new">
                        آزمون جدید</a>
                </li>
            </ul>
        </li>
    <li class="nav-item">
        <a class="nav-link" href="/professor/exams/results">
            <i class="nav-icon icon-calculator"></i>
            نتایج آزمون ها
        </a>
    </li>
    {#<li class="nav-item">#}
    {#<a class="nav-link" href="/user/edit-profile">#}
    {#<i class="nav-icon icon-note"></i>#}
    {#ویرایش پروفایل#}
    {#</a>#}
    {#</li>#}
</ul>