<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/admin">
            <i class="nav-icon icon-speedometer"></i>
            داشبورد
        </a>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-bag"></i>
            سفارشات</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/admin/translator/order-requests">
                    درخواست های انجام سفارش</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/pending-orders">
                    سفارشات درحال انجام</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/completed-orders">
                    سفارشات تکمیل شده</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-people"></i>
            مترجم ها</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/admin/new-translators">
                    مترجم های درحال استخدام</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/hired-translators">
                    لیست مترجمان استخدام شده</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-credit-card"></i>
            مالی</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/admin/translator/payment-requests">
                    درخواست های پرداخت مترجمان</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/translators/account-info">
                    اطلاعات حساب های بانکی مترجمان</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/site-revenue">
                    اطلاعات درآمد سایت</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-envelope"></i>
                  مرکز پیام</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/admin/tickets/customer">
                    تیکت های مشتریان</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/tickets/translator">
                    تیکت های مترجمان</a>
            </li>
        </ul>
    </li>

    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon icon-bell"></i>
               اطلاعیه ها</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="/admin/notifications">
                    لیست اطلاعیه ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/notifications/new">
                    اطلاعیه جدید</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/users/manage">
            <i class="nav-icon icon-people"></i>
            مدیریت کاربران
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/tests/manage">
            <i class="nav-icon icon-people"></i>
            مدیریت آزمون ها
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/coupon-management">
            <i class="nav-icon icon-people"></i>
            مدیریت کدهای تخفیف
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/edit-profile">
            <i class="nav-icon icon-note"></i>
            ویرایش پروفایل
        </a>
    </li>
</ul>