{% extends 'layout/user.twig' %}

{% block content %}
<main class="main">
    <div class="card">
        <div class="card-body d-flex flex-d-column align-items-center justify-content-center" style="min-height:550px;line-height:1.6">
            <h4>باسلام به سیستم آزمون آنلاین خوش آمدید</h4>
            <h5>این صفحه در دست طراحی می باشد</h5>
            <h6>به زودی آپدیت خواهد شد</h6>
        </div>
    </div>
</main>
{% endblock %}