{% extends "layout/auth.twig" %}

{% block content %}
    <main class="login-wrap">
        <section class="auth center" style="max-width:400px">

            {# <a href="/" class="auth__logo">
            <img src="/public/images/logo.png" alt="">
        </a> #}

            <form method="POST" action="/user/login" class="auth__form center">
                <p class="auth__form__title">ورود دانشجو</p>
                <div class="auth__form__icon">
                    <img src="/public/images/icon/login-icon.svg" alt="">
                </div>
                <div class="form-group">
                    <label for="username">نام کاربری</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="نام کاربری " value="{{username}}">
                </div>
                <div class="form-group">
                    <label for="password">گذرواژه</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="گذرواژه" value="{{password}}">
                </div>
                <div class="form-group w-100 pr-3">
                    <input type="submit" id="submit" value="ورود" class="btn btn-success">
                    <button class="btn btn-primary" onclick="window.history.back();">
                        بازگشت
                    </button>

                </div>
                <div class="error-container">
                    {% for msg in flash('userLoginError') %}
                        <div class="alert is--danger text-center mt-4 mb-4">
                            {{msg | raw}}
                        </div>
                    {% endfor %}
                </div>
                {#<p>پسوردتو فراموش کردی ؟#}
                    {#<a href="/admin/forget-password">کلیک کن</a>#}
                {#</p>#}
            </form>

        </section>
    </main>
{% endblock %}

{% block scriptbelow %}
    <script>
        addListener("#password", "keyup", function (e) {

            // Cancel the default action, if needed
            e.preventDefault();
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Trigger the button element with a click
                select(".auth__form").submit();
            }
        });
    </script>
{% endblock %}